@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
}

:root[data-theme='light'] {
	--bg-main: 255, 255, 255;
	--color-1: 0, 0, 0;
	--color-2: 142, 91, 199;
	--color-3: 142, 91, 199;
	--color-4: 250, 70, 100;
}

:root[data-theme='dark'] {
	--bg-main: 5, 5, 5;
	--color-1: 230, 230, 230;
	--color-2: 175, 173, 173;
	--color-3: 142, 91, 199;
	--color-4: 250, 70, 100;
}

:root body {
	font-family: 'Poppins', sans-serif;
	color: rgba(var(--color-1));
	background-color: rgba(var(--bg-main));
	font-size: 12px;
	cursor: none;

	/* background-image: radial-gradient(rgba(var(--color-1), 0.05) 2px, transparent 0);
	background-position: -5px -5px;
	background-size: 30px 30px; */
}

*:hover {
	cursor: none;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

@media screen and (min-width: 1800px) {
	header {
		padding: 0 20% !important;
	}
	main {
		padding: 0 20% !important;
	}
}
