@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
}

:root[data-theme='light'] {
	--bg-main: 255, 255, 255;
	--color-1: 0, 0, 0;
	--color-2: 142, 91, 199;
	--color-3: 142, 91, 199;
	--color-4: 250, 70, 120;
}

:root[data-theme='dark'] {
	--bg-main: 20, 20, 25;
	--color-1: 250, 250, 250;
	--color-2: 175, 173, 173;
	--color-3: 142, 91, 199;
	--color-4: 255, 70, 100;
	overflow-x: hidden;
}

:root body {
	overflow-x: hidden;
	scroll-behavior: smooth;
	font-family: 'Sora', sans-serif;
	color: rgba(var(--color-1));
	background-color: rgb(var(--bg-main));
	background: url(/images/main-bg-9.webp);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-size: 12px;
}
:root body::before {
	content: '';
	position: fixed;
	z-index: -1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: rgba(0, 0, 0, 0.8);
	backdrop-filter: blur(30px);
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: rgba(var(--color-3), 0.4);
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: rgba(var(--color-4), 0.5);
}

.no-scrollbar::-webkit-scrollbar {
	display: none;
}
@media screen and (min-width: 1800px) {
	header {
		padding: 0 20% !important;
	}
	main {
		padding: 0 20% !important;
	}
}
